<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../commanjs/vue.js"></script>
    <link rel="stylesheet/less" type="text/css" href="../css/commanui.less">
    <script type="text/javascript" src="../commanjs/less.min.js"></script>

</head>
<body>
<!--<a href="../index.html">返回</a>-->
<div id="app1">
    <input type="button" value="打开配置文件" v-on:click="openconfigdata()" class="config-button">
    <div class="mainbox">
        <h1 >欢迎使用《{{configname}}》</h1>
        <table class="itemline">

            <tr v-for="(item,index) in paramdata.parameters " v-if="!item.hide">
                <div>
                    <!--        //<p ></p>-->


                    <td>
                        <label>{{ item.lable }}</label>
                    </td>
                    <td>

                        <input v-if="item.type!='select'" v-bind:type="item.type" v-model:value="item.value" class="input-field">
                        <div v-if="item.type=='select'">

                            <select v-model="item.value" class="select-field">

                                <option v-for="(item1) in item.selectoption">{{item1}}</option>

                            </select>
                        </div>

                    </td>
                    <td>
                        <button v-if="item.isneedbutton" v-on:click="openfilepath(item)" class="select-button">选择 {{item.lable}}</button>
                    </td>


                </div>
            </tr>


        </table>
        <button v-on:click="onexecclicked"  class="exec-button">{{paramdata.exefile.lable}}</button>
        <input type="text" v-model="paramdata.exefile.path" style="width: 50%;height: 10px;"  class="input-field">
        <button v-on:click="justopenfilepath(paramdata.exefile,'更换路径')"   style="width: 60px;height: 20px;font-size: 10px">更换路径</button>
    </div>

<div class="mainbox" v-if="outstr!=''">
    <p >命令行输出</p>
    <textarea id="output" cols="100" rows="50" v-if="outstr!=''" v-model="outstr"></textarea>
</div>

</div>
<script type="text/javascript" src="../js/commanui.js"></script>


</body>
</html>
